extends ../node_modules/jade-bootstrap/layouts/success

append body
 .container

  table(style='width:100%')
   tr
    th Event Details
    th Status
    th Date
   tr
    td You successfully added #{daiamount} DAI to your account, using #{currencyamount} #{comparecurrency}
    td Completed Phase 2
    td Pending
   tr
    td You successfully added #{daiamount2} DAI to your account, using #{currencyamount2} #{comparecurrency2}
    td Completed
    td March 24, 2018 2:53pm EDT
